<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ settings.APP_NAME }}{% endblock %}</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/v4-shims.css">
    {% block head %} {% endblock %}

</head>
<body>
    {% block navbar %} {% endblock %}

<div class="container site-container">
    {% block welcome %} {% endblock %}
    {% block messages %}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{ msg.level_tag }}" role="alert">
                    {{ msg.message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endblock %}
    {% block content %}
    {% endblock %}
</div>
{% block footer %} {% endblock %}
</body>
</html>