{% extends "base_bootstrap.html" %}
{% block navbar %}
    {% load app_tags %}

    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <div class="row px-5">
      <a class="navbar-brand text-white" href="#">Ads</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      {% url 'ads' as ads %}
        <li class="nav-item {% if request.get_full_path == ads %} active {% endif %}">
                    <a href="{% url 'ads:all' %}" class="nav-link text-white">All ads</a></li>
    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'ads:ad_create' %}">Create Ad</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img style="width: 25px;" src="{{ user|gravatar:60 }}"/><b class="caret"></b>
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item text-white" href="{% url 'home:profile' user.id %}">Profile</a>
                            <a class="dropdown-item text-white" href="{% url 'logout' %}?next={% url 'ads:all' %}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}?next={% url 'ads:all' %}" class="nav-link text-white">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'django_registration_register' %}?next={% url 'ads:all' %}"
                           class="nav-link text-white">Register</a>
                    </li>
                {% endif %}
    </ul>
  </div>
    </div>
</nav>
{% endblock %}