{% extends "base_menu.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}

        <div id="overlay" class="overlay text-center" onclick="document.getElementById('overlay').style.display = 'none';">
            <img id="img-overlay" src="{% if user.picture %} {{ user.picture.url }}
                                        {% else %} {% static 'no-image.jpg' %}{% endif %}" alt="">
        </div>
    <img style="width: 20%" class="rounded border border-dark ad-image" src="{% if user.picture %} {{ user.picture.url }}
                                        {% else %} {% static 'no-image.jpg' %}{% endif %}"
             alt="" onclick="document.getElementById('overlay').style.display = 'block';">
    {{ user.user.id }} {{ user.user.username }}
{% endblock %}