.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
}

#img-overlay {
    width:50%;
    margin-top: 120px;
    border: 3px solid #2f353f;
    border-radius: 5px;
}

#img-overlay:hover {
    cursor: zoom-out;
}

.ad-image:hover {
    =-webkit-box-shadow: -2px 3px 27px -6px rgba(94,86,94,0.57);
    -moz-box-shadow: -2px 3px 27px -6px rgba(94,86,94,0.57);
    box-shadow: -2px 3px 27px -6px rgba(94,86,94,0.57);
    cursor: zoom-in;
}
.site-container {
    margin-top: 70px;
}
.dropdown-item:hover {
    background-color: #454647;
}