{% extends "base_menu.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}

<div id="overlay" class="overlay text-center" onclick="document.getElementById('overlay').style.display = 'none';">
            <img id="img-overlay" src="{% if profile.picture %} {{ profile.picture.url }}
                                        {% else %} {% static 'no-image.jpg' %}{% endif %}" alt="placeholder">
        </div>
    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">

                    <div class="col-sm-6 col-md-4">
                        <img class="img-overlay" style="width: 150px"
                             src="{% if profile.picture %} {% url 'core:profile_picture' profile.id %}
                                        {% else %} {% static 'no-image.jpg' %}{% endif %}" alt="placeholder">
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>{{ user.username }}</h4>
                        <small><cite title="{{ profile.home_address }}">{{ profile.home_address }} <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>{{ user.email }}
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>
                            {{ profile.phone_number }}
                        <br>
                            {% if profile.birthdate %}
                                {{ profile.birthdate }}
                            {% endif %}
                            </p>
                    </div>

            </div>
            {% if request.user == user %}
            <div class="btn btn-sm btn-success mt-2"><a href="{% url 'core:profile_update' user.id %}"
                                                       style="color: white" class="nav-link"> Edit your profile </a></div>
            {% endif %}
                </div>
        </div>
    </div>
</div>
{% endblock %}