{% extends "base_menu.html" %}

{% block content %}

    <p> Your account has been successfully created! </p>
    <button class="btn btn-success"><a href="{% url 'ads:all' %}" style="color: lightgray"> To main page </a></button>

{% endblock %}