name: Run tests

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: psycopg2 prerequisites
        run: sudo apt-get install python-dev libpq-dev

      - name: Install pipenv
        uses: VaultVulp/action-pipenv@v2.0.1

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run pytest
        run: pytest -s -vv
          

